# Nuxt Session Password (min 32 characters)
NUXT_SESSION_PASSWORD=ed7d21cd8a0644b9b5c9c5b2c99ead94

# User Credentials for Seeder (incremental 0..n)
USER0_NAME="Administrator"
USER0_USERNAME="admin"
USER0_PASSWORD="password123"

# Optional Additional Users
# USER1_NAME="Admin 2"
# USER1_USERNAME="admin2"
# USER1_PASSWORD="password456"
